
.container {
  max-width: 1400px;
/*  background:rgba(238,238,238,0.95);*/
   /* margin-left: 5%;*/
       font-size: 1.8rem; }

   .mymain {
  margin-left: 22%;
  max-width: 1400px;
   font-size: 1.8rem; }



/*.year { border-top: 1px solid #ccc; color: #ccc; margin: 0 -3em -2.5ex -2em; padding-top: 1ex; text-align: right; }*/
.year { border-top: 1px dashed #ccc; color: #ccc;  margin: 0 -2.5em -2ex -1em; padding-top: 1ex; text-align: right; }
.yearsubmitted{ border-top: 1px #ccc; color: #ccc; margin: 0 -2.5em -3.5ex -1em; padding-top: 1ex; text-align: right; }

.header {
  margin-top: 6rem;
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-bottom: 1.5px solid #EEECEC;
  padding: 4rem 0;
  margin-bottom: 0rem;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative; 
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
.navbar {
  display: block; 
text-align: center;}
.navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0; }
  .navbar-item-left {
    position: relative;
    float: left;
    margin-bottom: 0; }

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 0.5rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0;
    }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 5.5rem;
    background: #fff;
    /*background:rgba(238,238,238,0.95);*/
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    text-align: center;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: right;
    margin-bottom: 0; }
  .navbar-link {
    /*text-transform: lowercase;*/
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 5.5rem;
    color: #33C3F0; }
    .navbar-link-left {
    /*text-transform: lowercase;*/
    font-size: 28px;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 5.5rem;
  color: #222;}
  .navbar-link.active {
    color: #ff9900; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after, 
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}


p{margin-bottom:8px;}


ol {
margin-left: 0;
padding-left: 1.8em;
list-style-position: outside;
}

.file_link{background-color:#DAD0AB;color:#fcfcfc;padding:1px 4px;font-size:smaller}  
.jpaper{background-color:#002062;color:#fcfcfc;;padding:1px 4px;font-size:smaller}

.cpaper{background-color:#0E6251;color:#fcfcfc;;padding:1px 4px;font-size:smaller}

.abbpaper{color:#00cc66;padding:1px 4px;font-size:smaller;font-weight: bold;}



img.headshot {
  display: inline-block;
  border-radius: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}


.icon_link{color:#BDBDBD}


a.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #8E7881 url(../images/up-arrow.png) no-repeat center 43%;
  background-size: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 40px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  color: #fff;
  background-color: #8E7881;
  border: 1px solid transparent;
  border-radius: 6px;
}



.border-right {
    border-right: 1px solid #C0C0C0;
}






/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive*/
.sidenav {
  margin: 0;
  padding: 0;
  width: 15%;
  /*/*background-color: #f1f1f1;*/
  /*background:rgba(238,238,238,0.95);*/
  position: fixed;
  height: 100%;
  overflow: auto;
}


@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
/*  .sidenav a {float: left;}*/
  .sidenav .member .image img {width: 50%;}
  div.mymain {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
   .sidenav .member .image img {width: 50%;}
}



.sidenav .member .image {
  display: block;
  position: relative;
  text-align: center;

}



.sidenav .member .image.animate {
  -webkit-animation-name: teamClip;
  animation-name: teamClip;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sidenav .member .image img {
  display: block;
  position: relative;
  width: 100%;
}
.sidenav .member .image .hover-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.sidenav .member:hover .image .hover-image {
  z-index: 1;
}

